pkgbase = password-layout
	pkgdesc = Latin keyboard layout while you type a password: the last used Latin one, then yours back (Hyprland)
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/yesm1ke/password-layout
	install = password-layout.install
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = git
	depends = gcc-libs
	depends = glibc
	depends = hyprland
	depends = fcitx5
	source = password-layout::git+https://github.com/yesm1ke/password-layout.git#tag=v0.4.0
	sha256sums = SKIP

pkgname = password-layout
