pkgbase = password-layout
	pkgdesc = Latin keyboard layout while typing a password in Hyprland terminals and browsers, then the previous one back
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/yesm1ke/password-layout
	install = password-layout.install
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = git
	depends = gcc-libs
	depends = glibc
	depends = hyprland
	depends = fcitx5
	source = password-layout::git+https://github.com/yesm1ke/password-layout.git#tag=v0.3.0
	sha256sums = SKIP

pkgname = password-layout
